.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
  margin: 20px;
  border: 2px solid rgb(17, 93, 233);
  width: 80vw;
}

.title-landInfo {
  align-items: center;
  flex-direction: column;
  display: flex;
  font-size: 1.5em;
}

.content {
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 50vw;
  font-size: 1.3em;
  gap: 10px;
}

iframe {
  margin-top: 20px;
}

.link-buy-land {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

#buy-land {
  font-size: 1.2em;
  font-weight: bold;
  font-size: 1.5em;
  border: 3px solid #1383af;
  background-color: #1cbfff;
  color: darkblue;
  border-radius: 10px;
  padding: 0;
  text-decoration: none; /* no underline */
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#edit-land {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  width: 70vw;
  font-size: 1.3em;
  text-decoration: none;
}

strong {
  padding-right: 5px;
}
