.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-weight: bold;
  width: 100vmax;
  font-size: 1.2em;
  background-color: rgb(0, 28, 112);
  color: white;
}

#sing-out {
  font-size: 0.7em;
  padding-left: 20px;
}

.header-links {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  width: 95vw;
  margin-bottom: 0px;
}

.header-links a {
  display: flex;
  flex-direction: row;
  text-decoration: none; /* no underline */
  all: unset;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-links li {
  list-style-type: none;
}

.header-links li:last-child {
  margin-right: auto;
  font-size: 1.5em;
}

.title {
  width: auto;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 2px;
}

.creator {
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 1em;
  margin-bottom: 5px;
  color: yellowgreen;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
